@page "/"
@using System.Collections.Generic
@using System.Net.Http.Json

<PageTitle>Home</PageTitle>

<h3>Информация о товаре</h3>

@if (product == null)
{
    <p>Loading...</p>
}
else
{
    <div>
        <img src="@product.ImageUrl" alt="Product Image" style="max-width: 200px; max-height: 200px;" />
        <h4>@product.Name</h4>
        <p>@product.Description</p>
    </div>
}

@code {
    private Product? product;

    protected override async Task OnInitializedAsync()
    {
        var httpClient = new HttpClient();
        product = await httpClient.GetFromJsonAsync<Product>("https://localhost:7031/api/My/task2");
    }

    public class Product
    {
        public string ImageUrl { get; set; }
        public string Name { get; set; }
        public string Description { get; set; }
    }
}
